
<!-- Details -->
<p class="title is-5"> Details </p>
  <input type="text" name="detailUniversity" placeholder="University">
  <input type="text" name="detailDegree" placeholder="Degree">
  <br>
  <label for="detailYear"> Level of Study (completed)</label>
    <select type="text" name="detailYear">
      <option> Undergrad years 1-2 </option>
      <option> Undergrad years 3+ </option>
      <option> Postgraduate </option>
    </select>
  <br>
<br>

<!-- Experience -->
<p class="title is-5"> Experience </p>
  <input type="text" name="experiencePosition" placeholder="Position in last job">
  <input type="text" name="experienceYears" placeholder="Years of work experience">
  <br>
  <input type="checkbox" name="experienceLanguages" value="Python"> Python <br>
  <input type="checkbox" name="experienceLanguages" value="SQL"> SQL <br>
  <input type="checkbox" name="experienceLanguages" value="Java"> Java <br>
  <input type="checkbox" name="experienceLanguages" value="HTML"> HTML <br>
  <input type="checkbox" name="experienceLanguages" value="C"> C, C++, or C# <br>
  <br>
  <label for="experienceLanguagesOther"> If others, please list them separated by commas </label> <br>
  <input type="text" name="experienceLanguagesOther" placeholder="Other">
  <br>
<br>

<!-- Resume -->
<p class="title is-5"> Upload your resume </p>
<label for="resume"> Please make sure to include your transcript, as well as links to your GitHub and LinkedIn, if available </label> <br>
<input type="file" class= "custom-file-input" name="resume" id= "image">
